.contact_container{
     height: 320px;
     width: 1920px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.question{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 63px;
text-align: center;
color: #FFFFFF;
}
.icon_contact{
    margin-top:60px ;
    width: 60%;
    display: flex;
    justify-content: space-around;
    transition: transform .5s;
}
svg:hover{
    cursor: pointer;
    transform: scale(1.3);
}